@{
    ViewData["Title"] = "Books";
}
<h1>@ViewData["Title"]</h1>
<div>
    <ul>
        @if (ViewBag != null && User?.Identity!=null && User!.Identity!.IsAuthenticated)
        {
            foreach (var book in ViewBag!.TotalBooks)
            {
                <li>@book!.Title</li>
                <li>@book!.Description</li>
            }
        }
    </ul>
</div>